
    {{>navbar}}

    {{!-- <h2>Feedback Form</h2>
    <form action="/feed" method="POST">
        
        <label for="feedback">Feedback:</label><br>
        <textarea id="feedback" name="feedback" rows="4" required></textarea><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body> --}}
{{!-- <center> --}}
    {{>feedback}}

{{!-- </center> --}}


{{!-- {{>terms}} --}}