
  <body>
    <style>
        body {
    background-image:url("//img.freepik.com/premium-photo/grunge-texture-black-background_53876-149699.jpg");
    color: #fff;
    font-family: Poppins;
    margin: 0;
    padding: 0;
  }
  
  header, #terms {
    max-width: 700px;
    margin: 0 auto; /* Center the header and terms section */
  }
  
  header h1 {
    font-size: 28px;
    margin-bottom:50px;
  }
  
  #terms p {
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    text-align: justify; /* Align paragraphs to justify */
  }
    </style>
    <header style="margin-top: 50px;">
      <h1>Contact Us</h1>
      <p>
        We're here to help! Whether you have questions about using our UPI
        payment services or need assistance with a transaction, our support team
        is dedicated to providing you with prompt and reliable assistance.
      </p>
      <p>
        For support inquiries, please visit our comprehensive support page at
        upi@gmail.com. Here, you'll find answers to frequently asked questions,
        helpful tutorials, and step-by-step guides to help you make the most of
        our services.
      </p>
      <p>
        If you need further assistance, don't hesitate to reach out to us
        directly by phone at 958641335. Our friendly and knowledgeable support
        representatives are available during 9am to 5 pm to address any concerns
        you may have.
      </p>
      <p>
        Thank you for choosing Simplepay for your UPI payment needs. We're
        committed to ensuring your experience with us is smooth, secure, and
        hassle-free.
      </p>
    </header>
  </body>
</html>